################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExpressaoCalc.Test/obj/Debug
/.vs/ExpressaoCalc/v15/Server/sqlite3
/.vs/ExpressaoCalc/v15
/ExpressaoCalc.Test/bin/Debug
/ExpressaoCalc.App/bin/Debug
/ExpressaoCalc.App/obj/Debug/ExpressaoCalc.App.exe
/ExpressaoCalc.App/obj/Debug/ExpressaoCalc.App.pdb
/ExpressaoCalc.App/obj/Debug/ExpressaoCalc.App.csproj.FileListAbsolute.txt
/.vs
/ExpressaoCalc.App/obj/Release
